extends layout

include _includes/sharedHTMLfunctions

block content
    .row.banner
        .col-12
            h1= pageHeader.title
                small &nbsp; #{pageHeader.strapline}
    .row
        .col-12.col-md-8
            .error= message

            app-home-list

        .col-12.col-md-4
            p.lead=sidebar


