extends layout

block content
    .row.banner
        .col-12
            h1 Loc8r
            small &nbsp;Find the places to work with wifi near you!
    .row
        .col-12.col-md-8
            p List area.
        .col-12.col-md-4
            p.lead Loc8r helps you find places to work when out and about.


