<form [formGroup]="form" (ngSubmit)="onReviewSubmit()">
  <hr>
  <h4>Add your review</h4>

  <mat-form-field appearance="outline">
    <mat-label>Rating</mat-label>
    <mat-select formControlName="rating">
      <ng-container *ngFor="let n of [1,2,3,4,5]">
        <mat-option [value]="n">
          {{n}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="fullWith">
    <mat-label>Review</mat-label>
    <textarea
      matInput placeholder="ex. Amazing atmosphere" formControlName="reviewText"
      rows="5"
    ></textarea>

    <mat-error *ngIf="form.controls.reviewText.hasError('required')">
      reviewText is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div class="form-group row">
    <div class="col-12 text-right">
      <button mat-stroked-button (click)="changeFormVisibility.emit(false)" class="mr-lg-2">
        Cancel
      </button>
      <button mat-flat-button color="primary" type="submit">
        Submit review
      </button>
    </div>
  </div>

  <hr>

</form>

