<div class="card" *ngFor="let location of (locations$ | async)">
  <div class="card-block">
    <h4>
      <a routerLink="/location/{{location.id}}">{{location.name}}</a>

      <app-rating-stars [rating]="location.rating"></app-rating-stars>

      <span class="badge badge-pill badge-default float-right">{{location.distance | distance}}</span>
    </h4>
    <p class="address">{{location.address}}</p>
    <div class="facilities">
      <span class="badge badge-warning" *ngFor="let facility of location.facilities">{{facility}}</span>
    </div>
  </div>
</div>
