<div class="row">
  <div class="col-12 col-md-6">

    <app-rating-stars [rating]="location.rating"></app-rating-stars>

    <p>{{location.address}}</p>
    <div class="card card-primary">
      <div class="card-block">

        <h2 class="card-title">
          Opening hours
        </h2>

        <p class="card-text" *ngFor="let time of location.openingTimes" [ngSwitch]="time.closed">
          {{time.days}}: &nbsp;

          <span *ngSwitchCase="time.closed">Closed</span>
          <span *ngSwitchDefault>{{time.opening + " - " + time.closing}}</span>

        </p>
      </div>
    </div>

    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">
          Facilities
        </h2>
        <span class="badge badge-warning" *ngFor="let facility of location.facilities">
        <i class="fa fa-check"></i>{{facility}}
      </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 location-map">
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">Location map</h2>
        <img
          src="http://maps.googleapis.com/maps/api/staticmap?center={{location.coords[1]}},{{location.coords[0]}}&zoom=17&size=400x350&sensor=false&markers={{location.coords[1]}},{{location.coords[0]}}&key={{googleAPIKey}}&scale=2"
          alt="" class="img-fluid rounded">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-primary review-card">
      <div class="card-block" [ngSwitch]="isLoggedIn()">

        <button class="btn btn-primary float-right" (click)="formVisible=true" *ngSwitchCase="true">Add review</button>
        <a routerLink="/login" class="btn btn-primary float-right" *ngSwitchDefault>Log in to add review</a>

        <h2 class="card-title">Customer reviews</h2>

        <div *ngIf="formVisible">
          <app-comment-form
            [location]="location" [formVisible]="formVisible"
            (changeFormVisibility)="changeFormVisibility($event)"
          ></app-comment-form>
        </div>

        <div *ngFor="let review of location.reviews | mostRecentFirst">

          <div class="col-12 no-gutters review-header">

            <app-rating-stars [rating]="review.rating"></app-rating-stars>
            &nbsp;
            <span class="reviewAuthor">{{review.author}}</span>
            &nbsp;
            <small class="reviewTimestamp">{{review.createdOn | date : 'd MMMM yyyy'}}</small>

          </div>

          <div class="col-12">
            <p [innerHTML]="review.reviewText | htmlLineBreaks"></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
