<app-page-header [content]="pageContent.header"></app-page-header>

<div class="row">
  <div class="col-12 col-md-8">
    <p class="lead">Not a member? Please <a routerLink="/register">register</a> first</p>

    <form [formGroup]="form" (submit)="onLoginSubmit()">

      <div *ngIf="formError" role="alert" class="alert alert-danger">
        {{formError}}
      </div>

      <mat-form-field class="fullWith">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="ex. test@gmail.com" formControlName="email">

        <mat-error *ngIf="form.controls.email.hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>

      <mat-form-field class="fullWith">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">

        <mat-hint>e.g 12+ alphanumerics</mat-hint>

        <mat-error *ngIf="form.controls.password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.password.hasError('minlength')">
          At least 6 characters
        </mat-error>
      </mat-form-field>

      <br><br>

      <button [disabled]="form.invalid || submitted" type="submit" mat-raised-button color="primary">Sign in!</button>

    </form>
  </div>

  <app-sidebar [content]="pageContent.sidebar" class="col-12 col-md-4"></app-sidebar>
</div>
